<!--
  Generated template for the MechanicPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Pharmacy</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="home">
    <ion-segment [(ngModel)]="place_view_option" color="" (ionChange)="segmentChanged($event)">

        <ion-segment-button value="map" class="segment">
            <ion-icon name="map"></ion-icon>
            Map View
        </ion-segment-button>


        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
            List View
        </ion-segment-button>

    </ion-segment>
    <h5 class="segment-title" padding [style.display]="show_map ? 'block' : 'none'">Pharmacy nearby</h5>

    <div #map style="height:100%;" id="map" [style.display]="show_map ? 'block' : 'none'">
    </div>

    <div>


        <div [style.display]="place_view_option == 'map' ? 'block' : 'none'" class="segment-item">

        </div>


        <div [style.display]="place_view_option == 'list' ? 'block' : 'none'" class="segment-item">

            <div class="segment-item">

                <ion-list *ngIf="places" no-lines>

                    <ion-item *ngFor="let place of places; let j=index">
                        <ion-thumbnail item-start>
                            <img src="{{place.place_url}}">
                        </ion-thumbnail>
                        <h3 class="segment-title">{{place.place_name}}</h3>
                        <p text-wrap>About <b>{{place.place_distance}}</b> metres from your current location</p>
                        <small><i>{{place.place_vicinity}}</i></small>
                        <button ion-button clear item-end>
      <ion-icon name="pin"></ion-icon>
  </button>
                    </ion-item>
                </ion-list>

            </div>
        </div>
    </div>
</ion-content>
