page-register {
    .errorMessage {
        margin-bottom: -25px;
        color: red;
    }
    .h {
        color: white;
        // align-content: center;
        display: block;
        margin: auto;
    }
}