page-welcome {
    .logo2 a {
        font-size: 24px;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        margin-left: 45px;
    }
    .logo2 a span {
        color: #ffb400;
    }
    .logo2 a span:last-child {
        font-weight: 700;
    }
}